<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table_copy</title>
    <link rel="stylesheet" href="../assets/styles/table-styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="table-wrapper">
    <table>
        {% for key, rows in table_rows %}
            <tr>
            {% if key == 'heading_rows' %}
                {% for heading_name in rows %}
                    {% if loop.index == 1 %}
                        <th onclick="sort_table({{ loop.index - 1 }})" , data-sort="-1">{{ heading_name|raw }}</th>
                    {% else %}
                        <th onclick="sort_table({{ loop.index - 1 }})" , data-sort="1">{{ heading_name|raw }}</th>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for row in rows %}
                    {% for cell in row %}
                        <td>{{ cell|raw }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </table>
    <script src="scripts/main.js"></script>
</div>
</body>
</html>