<tr>
    {% for key, rows in table_rows %}
        {% if key == 'heading_rows' %}
            {% for heading_name in rows %}
                {% if loop.index == 1 %}
                    <th onclick="sort_table({{ loop.index - 1 }})" ,
                        data-sort="-1">{{ loop.parent.loop.index }}{{ heading_name|raw }}</th>
                {% else %}
                    <th onclick="sort_table({{ loop.index - 1 }})" ,
                        data-sort="1">{{ loop.parent.loop.index }}{{ heading_name|raw }}</th>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for row in rows %}
                {% for cell in row %}
                    <td>{{ cell|raw }}</td>
            {% endfor %}
        {% endif %}
    {% endfor %}
</tr>